.skills-main-div {
  display: flex;
  flex-direction: row-reverse; /* Moves image to the right */
  align-items: center;
  justify-content: space-between;
}

.skills-header {
  font-size: 60px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin: 10px;
}

.skills-text {
  font-size: 25px;
  line-height: normal;
}

.skills-text-div {
  margin-left: 50px; /* Adjusted for left alignment */
  font-family: "Google Sans Regular";
  flex: 1;
  text-align: left; /* Ensures text aligns to the left */
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div {
  flex: 1;
  display: flex;
  justify-content: space-around; /* Aligns image to the right */
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 40px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    color: black;
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    order: 2;
  }
  .skills-image-div > img {
    margin-top: 0px;
  }
}